---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Chair from '../components/Chair.astro';
import RecoItems from '../components/RecoItems.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Chair />
    <RecoItems />
    <Footer />
  </main>
</Layout>
