<main class="w-full h-screen flex flex-col items-center pt-10 md:pt-20">
  <img
    src="/demonacon/naconlogo.svg"
    alt="Logo de Nacon"
    class="w-2/5 md:w-48"
  />
  <section class="flex flex-col items-center justify-around h-screen">
    <div class="flex flex-col text-center gap-4 pt-4">
      <h1 class="text-4xl text-gray-100 font-bold tracking-wide">
        ¡Hola, Federico!
      </h1>
      <p class="text-gray-100 text-lg">
        ¡Muchas gracias por comprar tu nueva silla!
      </p>
    </div>
    <img
      src="/demonacon/mainimg.webp"
      alt="Foto de perfil del usuario"
      class="w-9/12 rounded-full shadow-lg"
    />

    <div class="flex flex-col items-center gap-2 pt-4 md:pt-12">
      <h3 class="text-lg font-semibold tracking-wide">¿Vemos los detalles?</h3>
      <a href="#chair"><img src="/demonacon/arrow.svg" alt="" class="w-12" /></a
      >
    </div>
  </section>
</main>
