---
const bigButtons = [
  {
    id: 1,
    title: 'INSTRUCCIONES',
    icon: '/demonacon/pdf.svg',
  },
  {
    id: 2,
    title: 'AFTERCARE',
    icon: '/demonacon/book.svg',
  },
  {
    id: 3,
    title: 'DEMOSTRACIÓN',
    icon: '/demonacon/video.svg',
  },
];
---

<section
  class="w-full flex flex-col items-center justify-center gap-12 pt-16 pb-10 md:pt-24"
>
  <h2 class="text-2xl px-4 text-center font-bold">
    Más información sobre tu <br /><span class="text-cyan-200">Silla PCCH</span>
  </h2>

  <article class="w-full px-4 flex flex-col gap-4 md:items-center">
    {
      bigButtons.map((btn) => {
        return (
          <div class="grid grid-cols-[85%_15%] md:grid-cols-[90%_10%] items-center bg-hero-pattern bg-cover p-2 rounded-2xl md:w-1/4 md:justify-center cursor-pointer font-mono border border-white border-opacity-10">
            <h4 class="text-lg text-gray-100 font-semibold tracking-wider pl-4">
              {btn.title}
            </h4>
            <img src={btn.icon} alt="" class="w-12" />
          </div>
        );
      })
    }
  </article>
</section>
