<section
  class="w-full h-auto flex flex-col items-center justify-center gap-12 pt-16 pb-10 md:pt-24"
>
  <h2 class="pt-3 text-xl md:text-3xl font-bold tracking-wide px-5">
    ¡BUENOS MATCH PARA TU SILLA!
  </h2>

  <article class="flex flex-col gap-8">
    <div class="flex flex-col items-center">
      <img src="/demonacon/rev5pro.png" alt="Revolution 5 PRO" class="w-1/2" />
      <p class="text-lg font-semibold">Revolution 5 PRO</p>
    </div>

    <div class="flex flex-col items-center">
      <img src="/demonacon/rig800.webp" alt="RIG 800 PRO" class="w-1/2" />
      <p class="text-lg font-semibold">RIG 800 PRO</p>
    </div>
  </article>
</section>
